* {
  margin: 0;
  padding: 0;
}

main {
  margin: 5px;
}

header {
  background-color: #080d4d;
  height: 45px;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: solid;
  border-bottom-color: #0a0e27;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.affichage_page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.liens {
  color: #fffff5;
  background: #080d4d;
  font-size: 18px;
  font-weight: 450;
  padding: 3px;
  border-width: 3px;
  border-radius: 10px;
  margin: 5px;
  border: solid;
  border-color: #080d4d;
}

.liens:hover {
  transform: scale(1.1);
  color: #080d4d;
  background: #fffff5;
  border: solid;
  border-color: #fffff5;
}

#contact {
  color: #0a0e27;
  border: solid;
  border-color: #080d4d;
  background-color: #080d4d;
  border-width: 3px;
  border-radius: 10px;
  margin: 3px;
  margin-left: auto;
}

.pdp {
  border: solid;
  border-radius: 50%;
}

#contact:hover {
  transform: scale(1.1);
}

h1 {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 30px;
  text-align: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 30px;
  margin-top: 15px;
  gap: 30px;
  border-radius: 15px;
  background: #fffff5;
}

.info_utilisateur {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgba(227, 227, 227);
  padding: 15px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 15px;
  justify-content: flex-start;
  background: #ffffff;
}

.label {
  font-size: 18px;
  color: #080d4d;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}

.champ {
  margin: 5px;
  font-size: 16px;
}

#commentaire {
  resize: none;
}

.envoyer {
  display: inline-flex;
  justify-content: flex-end;
  color: #ffffff;
  background: #080d4d;
  font-size: 16px;
  font-weight: 350;
  padding: 3px;
  margin: 5px;
  margin-top: 30px;
  border: solid;
  border-color: #080d4d;
  border-width: 3px;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
}

.pos_envoie {
  display: flex;
  justify-content: center;
}

.envoyer:hover {
  transform: scale(1.1);
}

h2 {
  text-align: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  margin-bottom: 30px;
  margin-top: 75px;
}

.coordonnées {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

h3 {
  padding: 3px;
  margin-bottom: 5px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.lien_coor {
  text-decoration: none;
  color: #070785;
  font-family: "Raleway", sans-serif;
}

footer {
  background-color: #080d4d;
  height: 45px;
  padding: 10px;
  margin-top: 30px;
  border-top: solid;
  border-bottom-color: #0a0e27;
}

@media screen and (max-width: 992px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 15px;
    background: #fffff5;
  }

  .coordonnées {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .label {
    font-size: 18px;
    color: #080d4d;
    font-family: "Raleway", sans-serif;
  }

  .info_utilisateur {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(227, 227, 227);
    padding: 15px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: flex-start;
    background: #ffffff;
  }

  h3 {
    margin-bottom: 5px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 18px;
  }

  .lien_coor {
    text-decoration: none;
    color: #070785;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }

  .formulaire {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
  }
}
