* {
  margin: 0;
  padding: 0;
}

main {
  margin: 5px;
}

header {
  background-color: #080d4d;
  height: 45px;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: solid;
  border-bottom-color: #0a0e27;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.affichage_page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.liens {
  color: #fffff5;
  background: #080d4d;
  font-size: 18px;
  font-weight: 450;
  padding: 3px;
  border-width: 3px;
  border-radius: 10px;
  margin: 5px;
  border: solid;
  border-color: #080d4d;
}

.liens:hover {
  transform: scale(1.1);
  color: #080d4d;
  background: #fffff5;
  border: solid;
  border-color: #fffff5;
}

#contact {
  color: #0a0e27;
  border: solid;
  border-color: #080d4d;
  background-color: #080d4d;
  border-width: 3px;
  border-radius: 10px;
  margin: 3px;
  margin-left: auto;
}

.pdp {
  border: solid;
  border-radius: 50%;
}

#contact:hover {
  transform: scale(1.1);
}

h1 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  color: #0a0e27;
}

.presentation {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border: solid;
  border-top-left-radius: 25px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 25px;
  border-color: #0a0e27;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  background: #fffff5;
  box-shadow: 9px 9px 3px rgba(227, 227, 227);
}

.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.accueil #titre_bio {
  align-self: flex-start;
  margin-bottom: 15px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}
.acceuil > #bio {
  margin: 15px;
}

.accueil > img {
  border: solid;
  border-color: #0a0e27;
  border-radius: 15px;
}

#titre_competences {
  display: flex;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  justify-content: center;
  margin: 15px;
  padding: 10px;
}

#bloc_competences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.competences {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 300px;
  height: 252px;
  margin: 15px;
  padding: 30px;
  background-color: #fffff7;
  box-shadow: 12px 12px 3px rgba(227, 227, 227);
  border: solid;
  border-color: #0a0e27;
}

#exp {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 300px;
  height: 252px;
  margin: 15px;
  padding: 30px;
  background-color: #fffff7;
  box-shadow: 12px 12px 3px rgba(227, 227, 227);
  border: solid;
  border-color: #0a0e27;
}

.type {
  align-self: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  margin: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.competences:hover {
  transform: scale(1.01);
  box-shadow: 17px 17px 3px rgba(227, 227, 227);
}

#exp:hover {
  transform: scale(1.01);
  box-shadow: 17px 17px 3px rgba(227, 227, 227);
}

p {
  font-family: "Raleway", sans-serif;
}

footer {
  background-color: #080d4d;
  height: 45px;
  padding: 10px;
  margin-top: 30px;
  border-top: solid;
  border-bottom-color: #0a0e27;
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .presentation {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 25px;
    border-color: #0a0e27;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    background: #fffff5;
    box-shadow: 9px 9px 3px rgba(227, 227, 227);
  }

  #titre_competences {
    display: flex;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 10px;
  }

  #bloc_competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #exp {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 300px;
    height: 252px;
    margin: 15px;
    padding: 30px;
    padding-bottom: 50px;
    background-color: #fffff7;
    box-shadow: 12px 12px 3px rgba(227, 227, 227);
    border: solid;
    border-color: #0a0e27;
  }
}
